
/*header*/
.logo{
    font-size: 2.5em;
    font-size: 4vw;
    letter-spacing: .5rem;
    color: lightgoldenrodyellow;
    font-weight: bold;
    align-content: center;
}
#language{
    margin-bottom: 0;
    width: 100px;
    margin-right: 15px;
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-custom{
    background-color: cadetblue;
}

.navbar-custom .navbar-nav .nav-link{
    margin-bottom: 0px;
    margin-top: 0px;
}
.link{
    color: #b3d7ff;
}

.nav-pills .nav-link.active {
    background-color: #668cff!important;
    font-weight: bold!important;
}



/*Body*/
body{
    background-image:url("/a-committee/css/background_image.png");
    background-color: bisque;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    /*background-color: lightblue;*/
}

html, body {
    height: 100%;
    margin: 0;
}

.indexText{
    text-align: justify;
}
.indexMainCtr{
    background-color: rgba(255, 228, 196, 70%);
    padding-bottom: 10px;
    padding-top: 10px;
    min-height: 500px;
    border-radius: 10px 10px 10px 0;
}

.container-fluid {
    min-height: 600px;
}

.col-sm-9-custom {
    padding-left: 20px;
    border-left: 1px solid #ccc;
}

.title-div{
    text-align: center;
}

/*Form*/
.form-div {
    background-color: rgba(204, 255, 255, 50%);
    padding: 30px 30px 20px;
    height: 450px;
    margin-bottom: 10px;
    margin-top: 10px;
    -webkit-box-shadow:inset 1px 2px 5px 0 #D3D4F5;
    box-shadow:inset 1px 2px 5px 0 #D3D4F5;
    -webkit-border-radius: 10px 10px 10px 0;
    border-radius: 10px 10px 10px 0;
    overflow: hidden;
    height: 1%;
}

button{
    padding: 10px 50px !important;
    margin-top: 40px;
}
.form-input{
    height: 30px !important;
}

/*Table*/
th, .td-to-align{
    text-align: center !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #cce5ff;
}


/*footer*/
.footerLink{
    color: whitesmoke;
}
.footerHeader{
    color: white
}
.page-footer{
    background-color: cadetblue;
}

.dynamic {
    margin-top: 10px;
}
